fastapi
uvicorn
pydantic
requests
Pillow
numpy
easyocr
PyMuPDF  # For PDF support
python-multipart
pdfplumber
scikit-image
pdf2image
poppler-utils
opencv-python 
pytesseract
scikit-learn
pandas
google-generative-ai
